extends: default.liquid
title: "Cobalt::Contributing"
---
<section>
  <div class="inner">
    <h2>Contributing</h2>
    <p>Thanks for contributing! ⛄️</p>
    <p>Feel free to create issues and make pull requests, we'll try to quickly
    review them.</p>
    <p>If you're looking for things to do check out the <a
      href="https://github.com/cobalt-org/cobalt.rs/issues">open issues</a>,
    especially those with the <a
      href="https://github.com/cobalt-org/cobalt.rs/issues?q=is%3Aissue+is%3Aopen+label%3Aeasy">easy</a>
    flag. Or take a grep through all <a
      href="https://github.com/cobalt-org/cobalt.rs/search?q=TODO">TODO
      comments</a> in the code and feel free to help us out there!</p>
    <p>Please make sure to run <code>cargo test</code> locally before making a
    pull request, unless you want Travis to remind you that your build has
    failed.</p>
    <p>If you need assistance, you can join the <code>#cobalt</code> channel on
    <code>irc.mozilla.org</code> or the Gitter chat <a
      href="https://gitter.im/cobalt-org/cobalt.rs"><img
      src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667"
      alt="Gitter" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg"
      style="max-width:100%;"></a></p>
    <p>We want you to feel safe and welcome and will enforce the <a
      href="https://www.rust-lang.org/conduct.html">The Rust Code of Conduct</a>
    on all communication platforms of this project. Please contact <a
      href="https://github.com/johannhof">@johannhof</a> for questions or in
    cases of violation.</p>.
  </div>
</section>
