---
permalink: /
title: A static site generator
layout: landing.liquid
---
<section class="introduction">
  <div class="inner">
    <h1 class="top_margin">A static-site generator that works for you.</h1>
    <div class="columns three">
      <article>
        <h3>Simple</h3>
        <p>Cobalt will help you get up and running quickly but scales to handle
          your more complex cases: multiple <b>collections</b>, <b>tagging</b>, <b>categories</b>…</p>
      </article>
      <article>
        <h3>Easy</h3>
        <p>Cobalt tries to be no-hassle, from being easy to install, a
        workflow-centric command line, the familiar <b>Liquid</b> template language,
        to the <b>Markdown</b> support.</p>
      </article>
      <article>
        <h3>Fast</h3>
        <p>Written in <b>Rust</b>, Cobalt is blazing fast even with
        <b>sass</b> and <b>syntax highlighting</b>, and allows you to quickly see
        the results of your work.</p>
      </article>
    </div>
  <div style="text-align: center; margin-top: 3em;">
      <h1><a href="/getting-started" class="button start" style="color: white;
      padding: 1em 2em;">Get started now!</a></h1>
    </div>
  </div>
</section>