---
permalink: /
title: A static site generator
layout: landing.liquid
---
<section class="introduction">
  <div class="inner">
    <p class="top_margin">A static-site generator that works for you.</p>
    <div class="columns three">
      <article>
        <h3>Simple</h3>
        <p>Cobalt will help you get up and running quickly but scales to handle
          your more complex cases</p>
      </article>
      <article>
        <h3>Easy</h3>
        <p>Cobalt tries to be no-hassle, from being easy to install, a
          workflow-centric command line, to a familiar template language.</p>
      </article>
      <article>
        <h3>Fast</h3>
        <p>Quickly see the results of your work.</p>
      </article>
    </div>
  </div>
</section>