:root {
  --orange: #F1592A;
  --dark-orange: #A12700;
  --light-orange: #FF9C7C;

  --yellow: #F1982A;
  --dark-yellow: #A15700;
  --light-yellow: #FFC47C;
  --med-light-yellow: #FFB253;
  --med-dark-yellow: #CB750C;

  --blue: #226D9A;
  --dark-blue: #064266;
  --light-blue: #639DC0;
  --med-light-blue: #3C7EA5;
  --med-dark-blue: #0E5681;

  --green: #1DA962;
  --dark-green: #007138;
  --light-green: #63CB96;
  --med-light-green: #3BB577;
  --med-dark-green: #088E4A;

  --dark-grey: #58585A;
  --med-grey: #818285;
  --light-grey: #D1D2D4;
  --med-dark-grey: #6D6E71;

  --black: #000;
  --white: #fff;

  --font-stack: helvetica, arial, sans-serif;

  --breakpoint: 45em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--white);
  border-top: 5px solid var(--orange);
  color: var(--dark-grey);
  font-family: var(--font-stack);
  line-height: 1.4;
  margin: 0;
}

a {
  color: var(--orange);
}

hr {
    color: #ccc;
    width: 75%;
}

header {
  text-align: center;
  padding-top: 1em;
}

header .primary h1 {
  text-align: center;
}

header .primary h1 a {
  color: var(--dark-grey);
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

header .primary h1 span {
  display: block;
}

header .secondary h2 {
  font-size: 2em;
  line-height: 1;
  margin-top: 0;
}

header nav {
  display: flex;
  justify-content: center;
}

@media (max-width: 41em) {
  header nav {
    max-width: 100%;
    overflow: hidden;
  }
}

header .inner {
  padding: 0;
}

header nav .button {
  margin: 0 1px;
  transform: skewX(-25deg) translateY(1px);
  padding: 0.5em 1em;
  border-radius: 0;
}

header nav .button > span {
  transform: skewX(25deg);
  display: inline-block;
}

@media (min-width: 41em) {
  header .inner {
    display: flex;
    justify-content: center;
  }

  header .primary {
    align-items: flex-start;
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    justify-content: center;
  }

  header .primary h1 a {
    font-size: 1.5em;
  }

  header .secondary {
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
    justify-content: flex-end;
  }

  header h1 {
    margin: 0.5em 0;
  }
}

.inner {
  padding: 0 1em 0 1em;
}

@media (min-width: 41em) {
  .inner {
    margin: 0 auto;
    max-width: var(--breakpoint);
    padding: 0 0 0 0;
  }
}

section {
  padding: 1em 0;
  position: relative;
}

section.introduction h2,
section.introduction h3 {
  font-size: 2em;
}

section.introduction article {
  padding-top: 1em;
}

section.introduction article h3 {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
}

section.introduction p {
  margin-top: 0;
}

section.docs aside ul li a {
  display: inline-block;
  margin-bottom: 0.25em;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

section.docs aside ul li a.active,
section.docs aside ul li a:hover,
section.docs aside ul li a:active,
section.docs aside ul li a:focus {
  font-weight: bold;
  background: var(--orange);
  color: var(--white);
  padding: 0.25em 0.5em;
  border-radius: 3px;
}

@media (min-width: 61em) {

  section.docs .inner {
    display: flex;
  }

  section.docs aside {
    flex: 0 1 30%;
  }

  section.docs main {
    flex: 0 1 70%;
  }
}

section.docs ul {
  list-style-type: none;
  padding: 0;
}



pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: var(--dark-grey);
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  text-shadow: none;
  overflow-x: auto;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: var(--dark-grey);
  text-shadow: none;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.button {
  background: var(--med-grey);
  border-radius: 3px;
  color: var(--white);
  text-decoration: none;
  padding: 0.5em;
  transition: background 0.3s ease-in-out;
}

.button:hover,
.button:active,
.button:focus {
  background: var(--light-grey);
}

.button.docs {
  background: var(--blue);
}

.button.docs:hover,
.button.docs:active,
.button.docs:focus {
  background: var(--med-light-blue);
}

.button.start {
  background: var(--light-blue);
}

.button.start:hover,
.button.start:active,
.button.start:focus {
  background: var(--med-light-blue);
}

.button.help {
  background: var(--yellow);
}

.button.help:hover,
.button.help:active,
.button.help:focus {
  background: var(--med-light-yellow);
}

.button.contrib {
  background: var(--dark-grey);
}

.button.contrib:hover,
.button.contrib:active,
.button.contrib:focus {
  background: var(--med-grey);
}

@media (min-width: 45em) {
  .columns {
    display: flex;
  }

  .columns.three > article {
    flex: 0 1 33%;
    margin-right: 1%;
  }

  .columns.three > article:last-child {
    margin-right: 0;
  }
}

footer {
  background: var(--dark-grey);
  color: var(--light-grey);
  text-align: center;
}

footer .inner {
  padding-bottom: 0;
}

footer p {
  margin: 0;
  padding: 1em 0;
}

table {
    border-collapse: collapse;
}

table thead {
    background-color: var(--blue);
    color: var(--white);
}

table thead th {
    border: 1px solid var(--dark-blue);
    padding: 0.5em;
}

table tbody td {
    border: 1px solid #ccc;
    padding: 0.5em;
}
