<div class="inner">
  <div class="primary">
    <h1><a href="/">
      <img src="/public/images/logo.svg" width="98" />
      <span>Cobalt</span>
    </a></h1>
  </div>
  <div class="secondary">
      {% include "navbar.liquid" %}
  </div>
</div>
