<nav>
    <a href="/getting-started" class="button start"><span>Start</span></a>
    <a href="/docs" class="button docs"><span>Reference</span></a>
    <a href="/news" class="button news"><span>News</span></a>
    <a href="https://github.com/cobalt-org/cobalt.rs/blob/master/CONTRIBUTING.md" class="button contrib"><span>Contribute</span></a>
    <a href="/help" class="button help"><span>Help!</span></a>
  </nav>