<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if is_post %}
      <title>{{ title }}</title>
    {% else %}
      <title>Cobalt::StaticSiteGenerator</title>
    {% endif %}
    <link rel="stylesheet" href="public/css/styles.css">
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="primary">
          <h1><a href="/">
            <img src="public/images/logo.svg" width="98" />
            <span>Cobalt</span>
          </a></h1>
        </div>
        <div class="secondary">
          <h2>A static site generator written in Rust</h2>
          <nav>
            <a href="#" class="button docs">Docs</a>
            <a href="#getting-started" class="button install">Install</a>
            <a href="#" class="button contrib">Contribute</a>
            <a href="https://github.com/cobalt-org/cobalt.rs"
              class="button github">
              GitHub
            </a>
          </nav>
        </div>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <div class="inner">
        <p>&copy; Cobalt Org. 2016</p>
      </div>
    </footer>
  </body>
</html>
