<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main class="flex_main">
      <section class="docs">
        <div class="inner">
          <aside>
            <p>Basics</p>
            <ul>
              <li><a {% if page.data.route == "install"%}class="active"{%endif%} href="/docs/install">Install</a></li>
              <li><a {% if page.data.route == "usage"%}class="active"{%endif%} href="/docs/usage">Usage</a></li>
              <li><a {% if page.data.route == "directory"%}class="active"{%endif%} href="/docs/directory">Directory Structure</a></li>
              <li><a {% if page.data.route == "config"%}class="active"{%endif%} href="/docs/config">Configuration</a></li>
            </ul>
            <hr align="left">
            <p>Content</p>
            <ul>
              <li><a {% if page.data.route == "pages"%}class="active"{%endif%} href="/docs/pages">Pages</a></li>
              <li><a {% if page.data.route == "posts"%}class="active"{%endif%} href="/docs/posts">Posts</a></li>
              <li><a {% if page.data.route == "front"%}class="active"{%endif%} href="/docs/front">Frontmatter</a></li>
              <li><a {% if page.data.route == "variables"%}class="active"{%endif%} href="/docs/variables">Variables</a></li>
              <li><a {% if page.data.route == "permalink"%}class="active"{%endif%} href="/docs/permalink">Permalink</a></li>
              <li><a {% if page.data.route == "layouts"%}class="active"{%endif%} href="/docs/layouts">Layouts</a></li>
              <li><a {% if page.data.route == "assets"%}class="active"{%endif%} href="/docs/assets">Assets</a></li>
              <li><a {% if page.data.route == "data"%}class="active"{%endif%} href="/docs/data">Data files</a></li>
            </ul>
            <hr align="left">
            <p>Misc</p>
            <ul>
              <li><a {% if page.data.route == "faq"%}class="active"{%endif%} href="/docs/faq">FAQ</a></li>
              <li><a {% if page.data.route == "rss"%}class="active"{%endif%} href="/docs/rss">RSS</a></li>
	            <li><a {% if page.data.route == "tools"%}class="active"{%endif%} href="/docs/tools">Tools</a></li>
              <li><a {% if page.data.route == "deployment"%}class="active"{%endif%} href="/docs/deployment">Deployment</a></li>
              <li><a {% if page.data.route == "trouble"%}class="active"{%endif%} href="/docs/trouble">Troubleshooting</a></li>
            </ul>
          </aside>
          <main>
          {{ page.content }}
          </main>
        </div>
      </section>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
