<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      <section class="docs">
        <div class="inner">
          <aside>
            <ul>
              <li><a {%if route == "usage"%}class="active"{%endif%} href="/docs/usage.html">Usage</a></li>
              <li><a {%if route == "config"%}class="active"{%endif%} href="/docs/config.html">Config</a></li>
              <li><a {%if route == "layouts"%}class="active"{%endif%} href="/docs/layouts.html">Layouts</a></li>
              <li><a {%if route == "pages"%}class="active"{%endif%} href="/docs/pages.html">Pages</a></li>
              <li><a {%if route == "posts"%}class="active"{%endif%} href="/docs/posts.html">Posts</a></li>
              <li><a {%if route == "rss"%}class="active"{%endif%} href="/docs/rss.html">RSS</a></li>
              <li><a {%if route == "deployment"%}class="active"{%endif%} href="/docs/deployment.html">Deployment</a></li>
            </ul>
          </aside>
          <main>
          {{ content }}
          </main>
        </div>
      </section>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
