extends: default.liquid
---

<section class="docs">
  <div class="inner">
    <aside>
      <ul>
        <li><a href="/docs/">Getting Started</a></li>
        <li><a href="/docs/usage.html">Usage</a></li>
        <li><a href="/docs/layouts.html">Layouts</a></li>
        <li><a href="/docs/posts.html">Posts</a></li>
        <li><a href="/docs/pages.html">Pages</a></li>
        <li><a href="/docs/rss.html">RSS</a></li>
        <li><a class="active" href="/docs/deployment.html">Deployment</a></li>
      </ul>
    </aside>
    <main>
      <h2>Deployment</h2>
      <h3>Import</h3>
      <p>To import your site to your <code>gh-pages</code> branch you can either
      pass a <code>build --import</code> flag when you build the site or after
      you have build the site with <code>build</code> you can run
      <code>import</code>. There are also some flags that can be found via
      <code>import --help</code>.</p>
      <h3>TravisCI</h3>
      <p>You can easily deploy a cobalt site to <code>gh-pages</code>! To do
      this with travis is also very easy. You will need to have rust available
      on travis. In your <code>travis.yml</code> you will need to have something
      similar to this:</p>
<pre><code>sudo: false
language: rust

before_script:
  - cargo install cobalt-bin
  - export PATH="$PATH:/home/travis/.cargo/bin"

script:
  - cobalt build

after_success: |
  [ $TRAVIS_BRANCH = master ] &&  
  [ $TRAVIS_PULL_REQUEST = false ] &&  
  cobalt import &&
  git config user.name "Cobalt Site Deployer" &&
  git config user.email "name@example.com" &&
  git push -fq https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git gh-pages
</code></pre>
      <p>For the <code>GH_TOKEN</code> you will need to create a personal access
      token, which can be found <a
        href="https://github.com/settings/tokens">here</a>, then you will need
      to use the <a
        href="https://github.com/travis-ci/travis.rb#the-travis-client-">travis
        cli tool</a> to
      encrypt your personal access token. You can do this like so <code>travis
        encrypt GH_TOKEN=... --add env.global</code></p>
      <h3>GitLab CI</h3>
      <p>You can also deploy a cobalt site to <a
        href="http://pages.gitlab.io/">GitLab Pages</a> using GitLab CI.  GitLab
      CI uses <a href="https://docs.docker.com/">Docker</a>, you can use <a
        href="https://hub.docker.com/r/nott/cobalt/">nott/cobalt</a> or any
      other image with
      <code>cobalt</code> in <code>PATH</code>.</p>
      <p>An example of <code>.gitlab-ci.yml</code>:</p>
      <pre><code>image: nott/cobalt:latest

pages:
  script:
  - mkdir -p public
  - cobalt build -d public
  artifacts:
    paths:
    - public/
  only:
  - master
</code></pre>
    </main>
  </div>
</section>
