extends: default.liquid
---

<section class="docs">
  <div class="inner">
    <aside>
      <ul>
        <li><a class="active" href="/docs/">Getting Started</a></li>
        <li><a href="/docs/usage.html">Usage</a></li>
        <li><a href="/docs/layouts.html">Layouts</a></li>
        <li><a href="/docs/posts.html">Posts</a></li>
        <li><a href="/docs/pages.html">Pages</a></li>
        <li><a href="/docs/rss.html">RSS</a></li>
        <li><a href="/docs/deployment.html">Deployment</a></li>
      </ul>
    </aside>
    <main>
      <h2>Documentation</h2> 
      <p>Welcome to the Cobalt docs! Here begins a majestic journey that will
        take us from installation to deployment, and everywhere in between.</p>
      <h3>Table of Contents</h3>
      <p>To the left, to the left, you will find a basic table of contents.
        For your convenience, you can find this on every docs page.</p>
      <h3>Bugs</h3>
      <p>Just like our code, our docs can have bugs. If you notice a type,
        omission, grammar mistake, or any other bug, please feel free
        to head over to
        [https://github.com/cobalt-org/cobalt-org.github.io](https://github.com/cobalt-org/cobalt-org.github.io)   
        and open an issue and we&rsquo;ll be happy to fix it.</p>
      <p>If you feel like contributing further, you can fork that repo,
        branch from `source`, and submit a pull request. Contributions are 
        always welcome!</p>  
    </main>
  </div>
</div>
