extends: default.liquid
title: "Cobalt::Docs:Layouts"
---

<section class="docs">
  <div class="inner">
    <aside>
      <ul>
        <li><a href="/docs/">Getting Started</a></li>
        <li><a href="/docs/usage.html">Usage</a></li>
        <li><a href="/docs/config.html">Config</a></li>
        <li><a class="active" href="/docs/layouts.html">Layouts</a></li>
        <li><a href="/docs/pages.html">Pages</a></li>
        <li><a href="/docs/posts.html">Posts</a></li>
        <li><a href="/docs/rss.html">RSS</a></li>
        <li><a href="/docs/deployment.html">Deployment</a></li>
      </ul>
    </aside>
    <main>
      <h2>Layouts</h2>
      <p>Layouts are templates in the <code>_layouts</code> directory that
      contain the common formatting for your pages.  They are compiled as <a
      href="https://shopify.github.io/liquid/">liquid templates</a> using <a
      href="https://github.com/cobalt-org/liquid-rust">liquid-rust</a>.</p>

      <p>See <a href="/docs/pages.html">pages</a> for more information on what
      variables are available</p>
    </main>
  </div>
</section>
