extends: docs.liquid
title: "Cobalt::Docs:Layouts"
route: layouts
---
<h2>Layouts</h2>
<p>Layouts are templates in the <code>_layouts</code> directory that
contain the common formatting for your pages.  They are compiled as <a
href="https://shopify.github.io/liquid/">liquid templates</a> (see <a
href="https://help.shopify.com/themes/liquid">reference</a>) using <a
href="https://github.com/cobalt-org/liquid-rust">liquid-rust</a>.</p>

<p>See <a href="/docs/pages.html">pages</a> for more information on what
variables are available</p>
